{%extends 'all-apps/base.html'%}

{% block content %}
{{block.super}}

{% for i in image%}
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
   <img src="{{i.image.url}}" class="img-thumbnail" alt="Image"class="btn btn-primary" data-toggle="modal" data-target="#{{i.id}}">
  
  <div class="modal fade" id="{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                
              </button>
            </div>
            <div class="modal-body">
               <img src="{{i.image.url}}" class="img-responsive" alt="Image">
              
            </div>
            
        </div>
        {% endfor %}


 

 
{% endblock %}
