{%extends 'all-apps/base.html'%}

{% block content %}
{{block.super}}
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<!-- Found this script on github -->
<script>
    function myFunction() {
      var copyText = document.getElementById("link");
      copyText.select();
      document.execCommand("Copy");
      // The execCommand() method executes the specified command for the selected part of an editable section.
      // it will copy the photo's link
      alert("Copied the text: " + copyText.value);
    }
  </script>
<div class="container">
  <h2 style="text-align: center;color:black;font-family: 'Baloo Bhai', cursive";>"Welcome to my gallery"</h2><br>
    <div class="row align-items-center">

{% for i in image%}
          <div class="card">
         <div class="card-body" > 
        <div class="thumbnail" style="background-color: black">
   <img style="height:30%; width:50%"src="{{i.image.url}}" class="img img-responsive full-width"alt="img-responsive" data-toggle="modal" data-target="#{{i.id}}">
  </div>
  </div>
</div>
  <div class="modal fade" id="{{i.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><strong>{{i.image_name}}</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                
              </button>
            </div>
            <div class="modal-body">
               <img src="{{i.image.url}}" class="img-responsive" alt="Image">
               <p><strong>Image location:</strong>{{i.img_location}}</p>
               <p><strong>Image category:</strong>{{i.category}}</p>
              
            </div>
            <!-- Found this modal footer of copying a link on github -->
            <div class="modal-footer">
                <input class="form-control" type="text" value="{{ i.image.url }}" id="link">
                <a onclick="myFunction()"><button type="button"  class="btn btn-dark">Copy Link</button></a>
  
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                
              </div>
            
        </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>


 

 
{% endblock %}
